---
import { Image } from 'astro:assets'
import AppLogo from '../components/app-logo.astro'
import AppButton from '../components/app-button.astro'
import photoshopLogo from '../assets/photoshop-logo.svg'
---

<header class="header">
  <AppLogo>
    <div class="badge">
      <Image src={photoshopLogo} alt="" />
      Like in Photoshop!
    </div>
  </AppLogo>
  <menu class="menu">
    <a href="#features">Features</a>
  </menu>
  <AppButton href="#" theme="default-outline">Install</AppButton>
</header>

<style>
  .header {
    color: #fff;
    padding-top: 40px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: -0.3px;

    @media (max-width: 768px) {
      margin-bottom: 70px;
      padding-top: 20px;
    }
  }

  .badge {
    display: flex;
    align-items: center;
    font-weight: 400;
    background-color: var(--figma-color-bg-hover);
    padding: 7px 12px;
    white-space: nowrap;
    border-radius: 15px;
    font-size: 12px;
    margin-left: 25px;
    letter-spacing: 0.1px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      width: 15px;
      height: 15px;
      margin-right: 7px;
    }
  }

  .menu {
    margin: 0 30px 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    & > a {
      font-size: 16px;
      text-decoration: none;
      color: var(--figma-color-text-secondary);

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
