---

---

<header class="header">
  <a href="/" title="Lasso Tool" class="logo">
    <img src="logo.svg" alt="Lasso Tool" />
    Lasso Tool
  </a>
  <a href="#" class="btn-download">Try Now</a>
</header>

<style>
  .header {
    color: #fff;
    padding: 20px 0;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

    img {
      height: 40px;
      margin-right: 20px;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      @media (max-width: 768px) {
        height: 30px;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #000;
  }
</style>
