---
import { Image } from 'astro:assets'
import AppButton from '../components/app-button.astro'
import demoVideo from '../assets/demo.mov'
import figmaLogo from '../assets/figma-logo.svg'
---

<section class="hero">
  <h1 class="title">
    Lasso Tool<br /> for
    <span><Image src={figmaLogo} alt="" class="figma-logo" /> Figma</span>
  </h1>
  <div class="subtitle">
    Legendary tool from Photoshop in your favourite design app<br />
    Copy and cut with freeform selection in one click
  </div>
  <div class="buttons">
    <AppButton href="#" big>
      <Image src={figmaLogo} big class="button-image" alt="" />
      Try for Free
    </AppButton>
    <AppButton href="/purchase" target="_blank" big theme="default-outline">
      Buy for $5
      <span class="btn-note">Pay <u>once</u>, use unlimited</span>
    </AppButton>
  </div>
  <!-- TODO: add fallback image while video loading -->
  <video src={demoVideo} class="demo" autoplay muted loop></video>
</section>

<style>
  .hero {
    text-align: center;
    margin-bottom: var(--offset);
  }

  .title {
    margin-bottom: 25px;
    letter-spacing: -0.4px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }

    br {
      @media (min-width: 767px) {
        display: none;
      }
    }

    span {
      color: #333333;
    }
  }

  .figma-logo {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: -2px;
    background-color: #333333;

    @media screen and (max-width: 768px) {
      width: 30px;
      height: 30px;
      padding: 6px;
    }
  }

  .subtitle {
    font-size: 30px;
    margin-bottom: 50px;
    color: var(--figma-color-text-secondary);
    line-height: 1.65;

    @media (max-width: 768px) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .button-image {
    width: 20px;
    height: 20px;
    filter: contrast(0) grayscale(1) brightness(10);
    margin-right: 10px;
  }

  .btn-note {
    position: absolute;
    inset: calc(100% + 12px) 0 auto 0;
    font-size: 12px;
    color: var(--figma-color-text-secondary);
    font-weight: 400;
  }

  .demo {
    width: 100%;
    max-width: 800px;
    border-radius: 30px;
    margin: 100px auto 50px;
    display: block;
    box-shadow:
      0px 1px 2px rgba(3, 7, 18, 0.02),
      0px 2px 6px rgba(3, 7, 18, 0.04),
      0px 5px 14px rgba(3, 7, 18, 0.06),
      0px 10px 26px rgba(3, 7, 18, 0.08),
      0px 15px 40px rgba(3, 7, 18, 0.1);

    @media (max-width: 768px) {
      margin: 60px auto 20px;
    }
  }
</style>
