---

---

<section class="hero">
  <h1 class="title">Legendary Lasso Tool</h1>
  <div class="subtitle">Copy and cut with freeform selection</div>
  <a href="#" class="btn-download">Try Now</a>

  <video src="demo.mov" class="video" autoplay muted loop></video>

  <div class="description">
    Move your mouse and this plugin will create a selection along your
    cursor's&nbsp;path. You can easily copy or cut all elements within selection
    in one click, regardless of size or type. Whether it's a vector, text,
    frame, group, section, or any other object, this plugin handles it all
    seamlessly.
  </div>
</section>

<style>
  .hero {
    text-align: center;
    margin-bottom: 100px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .title {
    font-size: 80px;
    margin-bottom: 30px;
    letter-spacing: -0.4px;

    @media (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  .subtitle {
    font-size: 30px;
    margin-bottom: 50px;
    opacity: 0.8;

    @media (max-width: 768px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .video {
    width: 100%;
    max-width: 800px;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    margin: 100px auto 50px;
    display: block;

    @media (max-width: 768px) {
      margin: 60px auto 20px;
    }
  }

  .btn-download {
    transform: scale(1.35);
    font-weight: 600;
  }

  .description {
    background-color: #bde3ff;
    padding: 30px;
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
</style>
