---
import { Image, Picture } from 'astro:assets'
import AppButton from '../components/app-button.astro'
import figmaLogo from '../assets/figma-logo.svg'
import thumbnailPng from '../assets/thumbnail@2x.png'
---

<script>
  const thumbnail = document.querySelector('.video-thumbnail')
  const playButton = document.querySelector('.play-button')
  const showDemo = () => {
    const iframe = document.createElement('iframe')
    iframe.src = 'https://www.youtube.com/embed/mnDFb9_E8Oo?autoplay=1'
    iframe.title = 'Demo'
    iframe.allow =
      'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
    iframe.referrerPolicy = 'strict-origin-when-cross-origin'
    iframe.allowFullscreen = true
    thumbnail.parentElement.replaceWith(iframe)
    playButton.remove()
  }
  thumbnail.addEventListener('click', showDemo)
  playButton.addEventListener('click', showDemo)
</script>

<section class="hero">
  <h1 class="title">
    Lasso Tool<br /> for
    <span><Image src={figmaLogo} alt="" class="figma-logo" /> Figma</span>
  </h1>
  <div class="subtitle">
    Legendary tool from Photoshop in your favourite design app<br />
    Copy and cut with freeform selection in one click
  </div>
  <div class="buttons">
    <AppButton
      href="https://www.figma.com/community/plugin/1362438745920118538"
      target="_blank"
      big
    >
      <Image src={figmaLogo} class="button-image" alt="" />
      Try for Free
    </AppButton>
    <AppButton href="/purchase" target="_blank" big theme="default-outline">
      Buy for $5
      <span class="btn-note">Pay <u>once</u>, use unlimited</span>
    </AppButton>
  </div>
  <div class="demo">
    <button type="button" class="play-button"></button>
    <Picture
      src={thumbnailPng}
      formats={['avif', 'webp']}
      alt="YouTube Demo"
      class="video-thumbnail"
    />
  </div>
</section>

<style>
  .hero {
    text-align: center;
    margin-bottom: var(--offset);
  }

  .title {
    margin-bottom: 25px;
    letter-spacing: -0.4px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }

    br {
      @media (min-width: 767px) {
        display: none;
      }
    }

    span {
      color: #333333;
    }
  }

  .figma-logo {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: -2px;
    background-color: #333333;

    @media screen and (max-width: 768px) {
      width: 30px;
      height: 30px;
      padding: 6px;
      border-radius: 7px;
    }
  }

  .subtitle {
    font-size: 30px;
    margin-bottom: 50px;
    color: var(--figma-color-text-secondary);
    line-height: 1.65;

    @media (max-width: 768px) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .button-image {
    width: 20px;
    height: 20px;
    filter: contrast(0) grayscale(1) brightness(10);
    margin-right: 10px;
  }

  .btn-note {
    position: absolute;
    inset: calc(100% + 12px) 0 auto 0;
    font-size: 12px;
    color: var(--figma-color-text-secondary);
    font-weight: 400;
  }

  .demo {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    height: 0;
    border-radius: var(--border-radius);
    margin: 100px auto 50px;
    overflow: hidden;
    box-shadow:
      0 1px 2px rgba(3, 7, 18, 0.02),
      0 2px 6px rgba(3, 7, 18, 0.04),
      0 5px 14px rgba(3, 7, 18, 0.06),
      0 10px 26px rgba(3, 7, 18, 0.08),
      0 15px 40px rgba(3, 7, 18, 0.1);

    @media (max-width: 768px) {
      margin: 60px auto 20px;
    }

    img {
      cursor: pointer;
    }

    picture {
      &::after {
        position: absolute;
        inset: 0;
        content: '';
        pointer-events: none;
        background-color: #000;
        opacity: 0.1;
        transition: opacity 0.2s ease;
      }

      &:hover::after {
        opacity: 0.2;
      }
    }

    img,
    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .play-button {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: red;
    border-radius: 50% / 10%;
    color: #fff;
    font-size: 20px;
    height: 3em;
    margin: auto;
    padding: 0;
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 4em;
    border: none;
    cursor: pointer;

    &:hover {
      background: darkorange;
    }

    &::before {
      background: inherit;
      border-radius: 5% / 50%;
      bottom: 9%;
      content: '';
      left: -5%;
      position: absolute;
      right: -5%;
      top: 9%;
    }

    &::after {
      border-style: solid;
      border-width: 1em 0 1em 1.732em;
      border-color: transparent transparent transparent
        rgba(255, 255, 255, 0.75);
      content: ' ';
      font-size: 0.75em;
      height: 0;
      margin: -1em 0 0 -0.75em;
      top: 50%;
      position: absolute;
      width: 0;
    }
  }
</style>
