---
import { Image } from 'astro:assets'
import logoImage from '../assets/logo.svg'

const { className } = Astro.props
---

<a href="/" title="Lasso Tool" class:list={['logo', className]}>
  <Image src={logoImage} alt="Logotype" />
  Lasso Tool
  <slot />
</a>

<style>
  .logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    position: relative;

    img {
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }
  }
</style>
